extends layouts/main
include mixins/videoBlock

block content
    .videos
        each abcd in videos
            +videoBlock({
                id:abcd.id,
                title:abcd.title,
                views:abcd.views,
                videoFile:abcd.videoFile
            })