extends layouts/main
block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post")
            label(for="video") Video File
            input(type="file", id="video", name="video", reauired=true)
            input(type="text", placeholder="Title", name="title" , reauired=true)
            textarea(placeholder="Description", name="description", reauired=true )
            input(type="submit", value="Upload Video")